*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width:615px)

{
    .container{
        display: flex;
        flex-direction: column;
    }
 

    nav{
        flex-direction: column;
    }
    nav.logo
    {
        justify-content: center;
        
        margin-top: 10px;
    }

    nav ul li a{
        display: inline-block;
        flex-direction: column;
        justify-content: center;
        height: 35px;
    }
.img{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
}

}